name: Go
on: [push, pull_request]
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3
    
    - name: Lint
      uses: golangci/golangci-lint-action@v3.1.0
      with:
        version: v1.45
        args : --verbose

    - name: Test
      run: |
        go test -v ./...

